Погружаемся в библиотеку Pandas
=
___
### 2.1.1 Считывание данных
___

<https://www.youtube.com/watch?v=m9-n2gW25BE&t=178s&ab_channel=AnatoliyKarpov>

In [1]:
from datetime import datetime
import pandas as pd

In [5]:
df = pd.read_csv('data_set/lesson_2_data.csv', delimiter=';', encoding='windows-1251')

In [6]:
df

,Номер,Дата создания,Дата оплаты,Title,Статус,Заработано,Город,Платежная система
0,1062823,01.12.2019 10:50,01.12.2019 10:52,Курс обучения «Эксперт»,Завершен,29597.50,Чита,Сбербанк эквайринг
1,1062855,01.12.2019 20:53,01.12.2019 21:27,Курс обучения «Эксперт»,Завершен,17450.30,Краснодар,Яндекс.Касса
2,1062856,01.12.2019 21:43,NaN,Курс обучения «Специалист»,Отменен,0.00,NaN,NaN
3,1062880,03.12.2019 0:18,NaN,Курс обучения «Консультант»,Отменен,0.00,г.Москва и Московская область,NaN
4,1062899,03.12.2019 21:43,NaN,Курс обучения «Эксперт»,Отменен,0.00,г.Москва и Московская область,NaN
...,...,...,...,...,...,...,...,...
287,1064720,30.12.2019 9:42,30.12.2019 12:49,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,Завершен,2935.44,Самарская область,Яндекс.Касса
288,1064724,30.12.2019 11:32,NaN,Курс обучения «Консультант»,Отменен,0.00,NaN,NaN
289,1064775,31.12.2019 2:17,31.12.2019 2:22,Курс обучения «Консультант»,Завершен,7423.92,NaN,"Сбербанк эквайринг,Бонусный счет"
290,1064793,31.12.2019 16:40,01.01.2020 14:29,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,Завершен,2935.44,Республика Карелия,Яндекс.Касса
291,1064796,31.12.2019 17:29,31.12.2019 17:32,Курс от Школы Диетологов. Повышение квалификац...,Завершен,9898.56,Уфа,"Сбербанк эквайринг,Бонусный счет"

### 2.1.2 Методы и атрибуты DataFrame, метод Rename
___
<https://www.youtube.com/watch?v=fuCpyHpL4XE&ab_channel=AnatoliyKarpov>

In [9]:
df.head() #смотрим первые пять записей данных таблицы

,Номер,Дата создания,Дата оплаты,Title,Статус,Заработано,Город,Платежная система
0,1062823,01.12.2019 10:50,01.12.2019 10:52,Курс обучения «Эксперт»,Завершен,29597.5,Чита,Сбербанк эквайринг
1,1062855,01.12.2019 20:53,01.12.2019 21:27,Курс обучения «Эксперт»,Завершен,17450.3,Краснодар,Яндекс.Касса
2,1062856,01.12.2019 21:43,NaN,Курс обучения «Специалист»,Отменен,0.0,NaN,NaN
3,1062880,03.12.2019 0:18,NaN,Курс обучения «Консультант»,Отменен,0.0,г.Москва и Московская область,NaN
4,1062899,03.12.2019 21:43,NaN,Курс обучения «Эксперт»,Отменен,0.0,г.Москва и Московская область,NaN

In [8]:
df.tail() #смотрим последние пять записей данных таблицы

,Номер,Дата создания,Дата оплаты,Title,Статус,Заработано,Город,Платежная система
287,1064720,30.12.2019 9:42,30.12.2019 12:49,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,Завершен,2935.44,Самарская область,Яндекс.Касса
288,1064724,30.12.2019 11:32,NaN,Курс обучения «Консультант»,Отменен,0.00,NaN,NaN
289,1064775,31.12.2019 2:17,31.12.2019 2:22,Курс обучения «Консультант»,Завершен,7423.92,NaN,"Сбербанк эквайринг,Бонусный счет"
290,1064793,31.12.2019 16:40,01.01.2020 14:29,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,Завершен,2935.44,Республика Карелия,Яндекс.Касса
291,1064796,31.12.2019 17:29,31.12.2019 17:32,Курс от Школы Диетологов. Повышение квалификац...,Завершен,9898.56,Уфа,"Сбербанк эквайринг,Бонусный счет"

In [10]:
df.shape #смотрим в таблице (количество срок, и колонок)

(292, 8)

#### Посмотреть список методов pandas Data frame можно на сайте
<https://pandas.pydata.org/docs/reference/frame.html>

In [11]:
df.dtypes #возвращаем тип данных

Номер                  int64
Дата создания         object
Дата оплаты           object
Title                 object
Статус                object
Заработано           float64
Город                 object
Платежная система     object
dtype: object

In [12]:
df.describe() #Создание описательной статистики

              Номер    Заработано
count  2.920000e+02    292.000000
mean   1.063745e+06   3397.615034
std    4.438688e+02   5771.572829
min    1.062823e+06      0.000000
25%    1.063608e+06      0.000000
50%    1.063698e+06   2935.440000
75%    1.063807e+06   2935.440000
max    1.064796e+06  42750.000000

#### Переименуем колонки с помощью функции rename
<https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.rename.html#pandas.DataFrame.rename>

In [13]:
df.columns

Index(['Номер', 'Дата создания', 'Дата оплаты', 'Title', 'Статус',
       'Заработано', 'Город', 'Платежная система'],
      dtype='object')

In [14]:
df = df.rename(columns={'Номер': 'number',
               'Дата создания': 'create_date',
               'Дата оплаты': 'payment_date',
               'Title': 'title',
               'Статус': 'status',
               'Заработано': 'money',
               'Город': 'city',
               'Платежная система': 'payment_system'})

In [17]:
df.dtypes #проверим измененные колонки

number              int64
create_date        object
payment_date       object
title              object
status             object
money             float64
city               object
payment_system     object
dtype: object

In [18]:
df[['title', 'status']].head() #обратимся к определенным колонкам

                         title    status
0      Курс обучения «Эксперт»  Завершен
1      Курс обучения «Эксперт»  Завершен
2   Курс обучения «Специалист»   Отменен
3  Курс обучения «Консультант»   Отменен
4      Курс обучения «Эксперт»   Отменен

In [29]:
df.status.head #можно вызвать одну колонку таким способом

<bound method NDFrame.head of 0      Завершен
1      Завершен
2       Отменен
3       Отменен
4       Отменен
         ...
287    Завершен
288     Отменен
289    Завершен
290    Завершен
291    Завершен
Name: status, Length: 292, dtype: object>

### 2.1.3 Группировка, Агрегация, сортировка данных
___
<https://www.youtube.com/watch?v=hhGPlBA_qyE&ab_channel=AnatoliyKarpov>>

In [32]:
all_money = df.money.sum() #добавим сумму всех заработанных денег в переменную [all_money]

In [35]:
all_money

992103.5900000001

**Сделаем запрос по анализу данных:**
- cгруппируем таблицу по полю **.groupby('title'** и укажем создание индекса **, as_index=False)**
- посчитаем суммы сгруппированного поля **.aggregate({'money':'sum'})**
- отсортируем полученный результат **.sort_values('money'** по убыванию **, ascending=False**

In [39]:
df.groupby('title', as_index=False).aggregate({'money':'sum'}).sort_values('money', ascending=False)

                                               title      money
5  Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...  366947.20
0                        Курс обучения «Консультант»  208163.49
1                         Курс обучения «Специалист»  160862.64
2                            Курс обучения «Эксперт»  148992.80
4  Курс от Школы Диетологов. Повышение квалификац...   88384.92
3                   Курс от Школы Диетологов. Бизнес   18752.54

>Оформим запрос с переносом строки используя обратный слеш, для большей читаемости кода и добавим еще одну колонку объединив названия полей в квадратные скобки

In [41]:
df \
    .groupby(['title','city'], as_index=False)\
    .aggregate({'money':'sum'})\
    .sort_values('money', ascending=False)

,title,city,money
51,Курс обучения «Эксперт»,г.Санкт-Петербург и Ленинградская область,59195.00
156,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,г.Москва и Московская область,46967.04
39,Курс обучения «Эксперт»,Балхаш,42750.00
95,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,Краснодарский край,38169.78
30,Курс обучения «Специалист»,Краснодар,29695.70
...,...,...,...
63,Курс от Школы Диетологов. Повышение квалификац...,Кемерово,0.00
61,Курс от Школы Диетологов. Повышение квалификац...,Екатеринбург,0.00
55,Курс от Школы Диетологов. Бизнес,Крым Советский,0.00
54,Курс от Школы Диетологов. Бизнес,Киев,0.00
158,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,нижний Новгород,0.00

>Теперь сохраним результат в отдельную переменную **money_by_city**

In [42]:
money_by_city = df \
    .groupby(['title','city'], as_index=False)\
    .aggregate({'money':'sum'})\
    .sort_values('money', ascending=False)

In [47]:
money_by_city #проверим результат, что он в переменной

,title,city,money
51,Курс обучения «Эксперт»,г.Санкт-Петербург и Ленинградская область,59195.00
156,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,г.Москва и Московская область,46967.04
39,Курс обучения «Эксперт»,Балхаш,42750.00
95,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,Краснодарский край,38169.78
30,Курс обучения «Специалист»,Краснодар,29695.70
...,...,...,...
63,Курс от Школы Диетологов. Повышение квалификац...,Кемерово,0.00
61,Курс от Школы Диетологов. Повышение квалификац...,Екатеринбург,0.00
55,Курс от Школы Диетологов. Бизнес,Крым Советский,0.00
54,Курс от Школы Диетологов. Бизнес,Киев,0.00
158,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,нижний Новгород,0.00

> Теперь сохраним результат из переменной **money_by_city** в файл для того чтобы можно было его отдать

In [48]:
money_by_city.to_csv('data_set\money_by_city.csv', index=False)

> Теперь посчитаем количество заказов к суммам с разбивкой только по **'title'** но т.к. мы имеем заказы с нулевой суммой и не завершенные, то нам нужно отфильтровать с помощью функции **.query** по полю **"status == 'Завершен'"**

In [50]:
df \
    .query("status == 'Завершен'")\
    .groupby(['title'], as_index=False)\
    .aggregate({'money':'sum', 'number':'count'})\
    .sort_values('money', ascending=False)

                                               title      money  number
5  Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...  366947.20     125
0                        Курс обучения «Консультант»  208163.49      31
1                         Курс обучения «Специалист»  160862.64       7
2                            Курс обучения «Эксперт»  148992.80       5
4  Курс от Школы Диетологов. Повышение квалификац...   88384.92       9
3                   Курс от Школы Диетологов. Бизнес   18752.54       3

### 2.1.4 Способы самопроверки при анализе данных
___
<https://www.youtube.com/watch?v=rfI9cAxKZTQ&ab_channel=AnatoliyKarpov>

Можем теперь дать новое имя колонкам с помощью rename и сохраним результат в новую переменную для проверки

In [53]:
money_title = df \
    .query("status == 'Завершен'")\
    .groupby(['title'], as_index=False)\
    .aggregate({'money':'sum', 'number':'count'})\
    .sort_values('money', ascending=False)\
    .rename(columns={'number': 'success_orders'})

Для проверки просуммируем записи в новой полученной таблице и сравним их с изначальной суммой по всем записям

In [55]:
money_title.money.sum()

992103.59

Полученный результат сгруппированных данных совпадает с первоночальной суммой.

In [58]:
all_money

992103.5900000001

Сделаем автоматическую проверку сообщений

In [71]:
if int(money_title.money.sum()) == int(all_money):
    print('OK!')
else:
    print('Error!')

OK!

### 2.1.5 Автоматизация скучной работы
___
<https://www.youtube.com/watch?v=Y3fiDr5g-GQ&ab_channel=AnatoliyKarpov>

Для автоматизации выгрузки файла, напишем запрос текущей даты чтобы выгрузка т.е. имя файла содержала дату когда была сделана выгрузка

In [69]:
today_day = datetime.today().strftime('%Y-%m-%d')
today_day

'2022-10-31'

Сделаем заготовку файла к которой будем прицеплять дату при выгрузке файла.

In [145]:
file_name = r'data_set\money_title_{}.csv'

Теперь при создании имени файла с датой имя файла будет иметь следующий вид

In [146]:
file_name = file_name.format(today_day)

In [147]:
file_name

'money_title_2022-10-31.csv'

Далее соберем все вместе, автоматическую проверку и выгрузку

In [148]:
if int(money_title.money.sum()) == int(all_money):
    print('OK! File {} is written.'.format(file_name))
    money_title.to_csv(file_name, index=False)
else:
    print('Error!')

OK! File money_title_2022-10-31.csv is written.