В первом мини-проекте вам предстоит проанализировать **данные** о бронировании отелей. Чуть ниже вы можете ознакомиться со списком вопросов и описанием данных. Для удобства проверки далее задачи разбиты на шаги. В некоторых из них также можно встретить небольшие подсказки. Желаем успехов! :)

**Задачи**
1. Импортируйте библиотеку pandas как pd. Загрузите датасет [bookings.csv](https://stepik.org/media/attachments/lesson/360344/bookings.csv) с разделителем ';'. Проверьте размер таблицы, типы переменных, а затем выведите первые 7 строк, чтобы посмотреть на данные.
2. Приведите названия колонок к нижнему регистру и замените пробелы на знак нижнего подчеркивания.
3. Пользователи из каких стран совершили наибольшее число успешных бронирований? Укажите топ-5.
4. На сколько ночей в среднем бронируют отели разных типов?
5. Иногда тип номера, полученного клиентом (assigned_room_type), отличается от изначально забронированного (reserved_room_type). Такое может произойти, например, по причине овербукинга. Сколько подобных наблюдений встретилось в датасете?
6. Проанализируйте даты запланированного прибытия.
– На какой месяц чаще всего успешно оформляли бронь в 2016? Изменился ли самый популярный месяц в 2017?
– Сгруппируйте данные по годам и проверьте, на какой месяц бронирования отеля типа City Hotel отменялись чаще всего в каждый из периодов.
7. Посмотрите на числовые характеристики трёх переменных: adults, children и babies. Какая из них имеет наибольшее среднее значение?
8. Создайте колонку total_kids, объединив children и babies. Отели какого типа в среднем пользуются большей популярностью у клиентов с детьми?
Создайте переменную has_kids, которая принимает значение True, если клиент при бронировании указал хотя бы одного ребенка (total_kids), и False – в противном случае. Посчитайте отношение количества ушедших пользователей к общему количеству клиентов, выраженное в процентах (churn rate). Укажите, среди какой группы показатель выше.

**Описание данных**
Имеются следующие переменные:
- **Hotel** – тип отеля (City Hotel или Resort Hotel)
- **Is canceled** – бронирование было отменено (1) или нет (0); неотменённое считается успешным
- **Lead time** – количество дней, прошедших между датой бронирования и датой прибытия
- **Arrival full date** – полная дата прибытия
- **Arrival date year** – год прибытия
- **Arrival date month** – месяц прибытия
- **Arrival date week number** – номер недели прибытия
- **Arrival date day of month** – день прибытия
- **Stays in weekend nights** – количество выходных (суббота или воскресенье), которые гость забронировал для проживания в отеле
- **Stays in week nights** – количество дней (с понедельника по пятницу), которые гость забронировал для проживания в отеле
- **Stays total nights** – общее число забронированных ночей (сумма двух предыдущих колонок)
- **Adults** – число взрослых
- **Children** – число детей
- **Babies** – число младенцев
- **Meal** – выбранный тип питания
- **Country** – страна происхождения клиента
- **Reserved room type** – тип зарезервированного номера
- **Assigned room type** – тип полученного номера (может отличаться от забронированного)
- **Customer type** – тип бронирования
- **Reservation status** – значение последнего статуса брони: Canceled – было отменено клиентом; Check-Out – клиент зарегистрировался, но уже покинул отель; No-Show – клиент не зарегистрировался и сообщил администрации отеля причину
- **Reservation status date** – дата обновления статуса

---
### Задача №1
Импортируйте библиотеку pandas как pd. Прочитайте датасет bookings.csv, находящийся по ссылке, с разделителем ;  и сохраните в переменную bookings. Затем запишите первые 7 строк в переменную bookings_head.

In [6]:
import pandas as pd
bookings = pd.read_csv('data_set/bookings.csv', sep=';')
bookings_head = bookings.head(7)
bookings_head

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

---
### Задача №2
Посмотрите на размеры таблицы. Сколько всего в ней столбцов?

In [8]:
bookings.shape #21

(119390, 21)

---
### Задача №3
К какому типу относится большинство переменных?

In [9]:
bookings.dtypes #int64, object

Hotel                         object
Is Canceled                    int64
Lead Time                      int64
arrival full date             object
Arrival Date Year              int64
Arrival Date Month            object
Arrival Date Week Number       int64
Arrival Date Day of Month      int64
Stays in Weekend nights        int64
Stays in week nights           int64
stays total nights             int64
Adults                         int64
Children                     float64
Babies                         int64
Meal                          object
Country                       object
Reserved Room Type            object
Assigned room type            object
customer type                 object
Reservation Status            object
Reservation status_date       object
dtype: object

---
### Задача №4
💀 Сложное задание! 💀
Как вы уже могли заметить, при сборе датасета произошла небольшая ошибка, и названия колонок были записаны в неудобном для дальнейшей работы формате. Исправьте ситуацию: приведите названия столбцов к нижнему регистру и замените пробелы на знак нижнего подчёркивания. Например: Is Canceled -> is_canceled

Могут пригодиться:
rename
str.lower
str.replace
columns

In [10]:
bookings.columns

Index(['Hotel', 'Is Canceled', 'Lead Time', 'arrival full date',
       'Arrival Date Year', 'Arrival Date Month', 'Arrival Date Week Number',
       'Arrival Date Day of Month', 'Stays in Weekend nights',
       'Stays in week nights', 'stays total nights', 'Adults', 'Children',
       'Babies', 'Meal', 'Country', 'Reserved Room Type', 'Assigned room type',
       'customer type', 'Reservation Status', 'Reservation status_date'],
      dtype='object')

Для автоматического переименования, создам функцию и проверю что она работает правильно.
Потом, запущу еще раз уже сохранив в основной датафрейм bookings

In [16]:
def replace_columns(name):
    new_name = name.lower().replace(' ','_')
    return new_name
bookings.rename(columns=replace_columns).head(3)

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02

In [19]:
bookings = bookings.rename(columns=replace_columns)
bookings.dtypes

hotel                         object
is_canceled                    int64
lead_time                      int64
arrival_full_date             object
arrival_date_year              int64
arrival_date_month            object
arrival_date_week_number       int64
arrival_date_day_of_month      int64
stays_in_weekend_nights        int64
stays_in_week_nights           int64
stays_total_nights             int64
adults                         int64
children                     float64
babies                         int64
meal                          object
country                       object
reserved_room_type            object
assigned_room_type            object
customer_type                 object
reservation_status            object
reservation_status_date       object
dtype: object

---
### Задача №5
💀 Сложное задание! 💀
Перейдём к исследованию данных! Пользователи из каких стран совершили наибольшее число успешных бронирований?
Бронирование считается успешным, если в дальнейшем оно не было отменено (переменная is_canceled). В качестве ответа выберите страны, входящие в топ-5.

In [36]:
bookings\
    .query("is_canceled == 0")\
    .country\
    .value_counts()

PRT    21071
GBR     9676
FRA     8481
ESP     6391
DEU     6069
       ...
BHR        1
DJI        1
MLI        1
NPL        1
FRO        1
Name: country, Length: 165, dtype: int64

---
### Задача №6
На сколько ночей (stays_total_nights)  в среднем бронируют отели типа City Hotel? Resort Hotel? Запишите полученные значения в пропуски с точностью до 2 знаков после точки.

In [39]:
bookings\
    .groupby('hotel', as_index=False)\
    .agg({'stays_total_nights':'mean'}).round(2)

          hotel  stays_total_nights
0    City Hotel                2.98
1  Resort Hotel                4.32

---
### Задача №7
Иногда тип номера, полученного клиентом (assigned_room_type), отличается от изначально забронированного (reserved_room_type). Такое может произойти, например, по причине овербукинга.
Сколько подобных наблюдений встретилось в датасете?
*отмена бронирования также считается

In [67]:
bookings\
    .query("assigned_room_type != reserved_room_type")\
    .shape

(14917, 21)

---
### Задача №8
Теперь проанализируйте даты запланированного прибытия (arrival_date_year).
На какой месяц чаще всего оформляли бронь в 2016 году? Изменился ли самый популярный месяц в 2017 году?

In [87]:
bookings\
    .query("arrival_date_year == 2016")\
    .groupby(['arrival_date_year', 'arrival_date_month'])\
    .agg({'arrival_date_month':'count'})\
    .idxmax()

arrival_date_month    (2016, October)
dtype: object

In [88]:
bookings\
    .query("arrival_date_year == 2017")\
    .groupby(['arrival_date_year', 'arrival_date_month'])\
    .agg({'arrival_date_month':'count'})\
    .idxmax()

arrival_date_month    (2017, May)
dtype: object

**!!!** Есть еще один вариант получения значений

In [122]:
bookings\
    .query('arrival_date_year == 2016')\
    .arrival_date_month\
    .value_counts()

October      6203
May          5478
April        5428
September    5394
June         5292
August       5063
March        4824
July         4572
November     4454
February     3891
December     3860
January      2248
Name: arrival_date_month, dtype: int64

In [123]:
bookings\
    .query('arrival_date_year == 2017')\
    .arrival_date_month\
    .value_counts()

May         6313
April       5661
June        5647
July        5313
March       4970
August      4925
February    4177
January     3681
Name: arrival_date_month, dtype: int64

---
### Задача №9
Сгруппируйте данные по годам, а затем проверьте, на какой месяц (arrival_date_month) бронирования отеля типа City Hotel отменялись чаще всего в 2015? 2016? 2017?

**Hint:** для этого сначала примените метод groupby, после чего выберите нужную колонку для дальнейших действий :)

**Например:** df.groupby('column_1')['column_2'].what_to_do()

In [107]:
bookings\
    .query("hotel == 'City Hotel' & is_canceled == 1")\
    .groupby('arrival_date_year')\
    .arrival_date_month\
    .value_counts()

arrival_date_year  arrival_date_month
2015               September             1543
                   October               1321
                   August                1232
                   July                   939
                   December               668
                   November               301
2016               October               1947
                   June                  1720
                   September             1567
                   April                 1539
                   May                   1436
                   November              1360
                   August                1247
                   March                 1108
                   December              1072
                   July                  1043
                   February               930
                   January                438
2017               May                   2217
                   April                 1926
                   June                  1808
                   July                  1324
                   March                 1278
                   August                1123
                   January               1044
                   February               971
Name: arrival_date_month, dtype: int64

---
### Задача №10
Посмотрите на числовые характеристики трёх колонок: adults, children и babies. Какая из них имеет наибольшее среднее значение?

In [134]:
bookings[['adults','children','babies']].mean()

adults      1.856403
children    0.103890
babies      0.007949
dtype: float64

---
### Задача №11
Создайте колонку **total_kids**, объединив столбцы children и babies. Для отелей какого типа среднее значение переменной оказалось наибольшим?
**City hotel** – отель находится в городе
**Resort hotel** – отель курортный
В качестве ответа укажите наибольшее среднее total_kids, округлив до 2 знаков после точки.

In [140]:
t_kids = bookings.assign(total_kids = bookings.children + bookings.babies) #добавим поле total_kids

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date,total_kids
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01,0.0
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01,0.0
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02,0.0

In [148]:
#Tеперь сделаем выборку значений
t_kids\
    .groupby('hotel')\
    .total_kids\
    .mean().round(2)

hotel
City Hotel      0.10
Resort Hotel    0.14
Name: total_kids, dtype: float64

In [149]:
#Так же это можно сделать и в одном запросе не сохраняя в новый дата cет, результат тот же!
bookings\
    .assign(total_kids = bookings.children + bookings.babies)\
    .groupby('hotel')\
    .total_kids\
    .mean().round(2)

hotel
City Hotel      0.10
Resort Hotel    0.14
Name: total_kids, dtype: float64

---
### Задача №11
💀 Сложное задание! 💀
Не все бронирования завершились успешно (is_canceled), поэтому можно посчитать, сколько клиентов было потеряно в процессе. Иными словами, посчитать метрику под названием Churn Rate.

Churn rate (отток, коэффициент оттока) – это процент подписчиков (например, на push-уведомления от сайта), которые отписались от канала коммуникации, отказались от услуг сервиса в течение определенного периода времени. Иными словами, представляет собой отношение количества ушедших пользователей к общему количеству пользователей, выраженное в процентах.

В нашем случае Churn Rate - это процент клиентов, которые отменили бронирование. Давайте посмотрим, как эта метрика связана с наличием детей у клиентов!

Создайте переменную has_kids, которая принимает значение True, если клиент при бронировании указал хотя бы одного ребенка (total_kids), в противном случае – False. Далее проверьте, среди какой группы пользователей показатель оттока выше.

В качестве ответа укажите наибольший %, округленный до 2 знаков после точки (то есть доля 0.24563 будет 24.56% и в ответ пойдёт 24.56)

In [232]:
# добавим поле has_kids с булевым значением True и False
t_kids = t_kids.assign(has_kids = t_kids.total_kids != 0)

> Рассчитаем **Churn rate** для группы людей у кого есть дети

In [242]:
#Рассчитаем для группы людей у кого есть дети
(
round(
    t_kids
        .query("is_canceled == 1 and has_kids == True")
        .shape[0] /
    t_kids
        .query("has_kids == True")
        .shape[0] * 100,2)
)

34.95

> И рассчитаем **Churn rate** для группы людей у кого нет детей

In [247]:

(
    round(
        t_kids
        .query("is_canceled == 1 and has_kids == False")
        .shape[0] /
        t_kids
        .query("has_kids == False")
        .shape[0] * 100, 2)
)

37.22